#Basket{
    main{
        margin: 0 0 0 0;
        .EmptyBasket{
            margin-top: 50%;
            h2{
                text-align: center;
            }
            .btn1{
                margin: 24px auto 0 auto;
            }
        }
    }
}