#Basket {
  main {
    margin: 0 0 0 0;
    .EmptyBasket {
      margin-top: 50%;
      h2 {
        text-align: center;
      }
      .btn1 {
        margin: 24px auto 0 auto;
      }
    }
  }
  .container {
    div {
      .btn1 {
        margin: auto;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        height: 60px;
        display: flex;
        border-radius: 12px;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
