h1{
    text-align: center;
}
form {
  margin: px 0 0 0;
  input{
    border-radius: 12px;
    padding: 14px 8px;
    border: 2px solid #181818;
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 21px;
  }
  input::-webkit-input-placeholder {
    color: #909090;
  }
  
  input::-moz-placeholder {
    color: #909090;
    opacity: 1;
  }
  
  input:-ms-input-placeholder {
    color: #909090;
  }
  
  input:-moz-placeholder {
    color: #909090;
  }
  input:not(:last-child){
    margin-bottom:24px;
  }
  .btn1{
    margin:auto;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    height: 60px;
    border-radius: 12px;
  }
  .passwd{
    position:relative;
    svg{
        position: absolute;
        right: 15px;
        top: calc(50% - 8px);
    }
  }
}
.connected{

  .PP{
    width: 72px;
    height: 72px;
    background: lightgray;
    border-radius: 50%;
    margin: 24px auto 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="%236b6b6b" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>');
  }
}