footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f1f1f109;
    display: flex;
    justify-content: center;
    align-items: center;
    nav{
        display: flex;
        width: 100%;
        padding: 10px 16px;
        justify-content: space-between;
        align-items: center;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration:none;
            svg{
                font-size: 24px;
            }
        }
    }
    p{
        font-size: 14px;
    }
}
.lieu{
    width: 100%;
    height:15vh;
    z-index: 99;
    position: absolute;
    bottom: -15vh;
    background-color: white;
    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 24px;
    box-sizing: border-box;
    transition:all .3s;
    div{
        display:flex;
        gap:16px;
        align-items: center;
        svg{
            width: 24px;
            height: 24px;
        }
        .modif{
            color: rgb(0, 128, 117);
            font-size: 18px;
        }
    }
}

.lieu.up{
    bottom:0
}